# Global
#.git
*.swp
.zcompdump
build
# Game-generated
.minecraft/assets
.minecraft/libraries
cache
crash-reports
log4j2.xml
logs
natives-*-*
saves
screenshots
# Mod loader-generated
.bobby
.fabric
data
moddata
null
# Mod-generated
*/config/.puzzle_cache
*/config/.puzzle_cache/*
*/config/spark/activity.json
*/config/spark/tmp
*/config/roughlyenoughitems/hints.json
.earlyloadingscreen-*
dashloader-cache
irisUpdateInfo.json
modernfix
ModTranslations
stackdeobf_mappings
XaeroW*