# Global
#.git
*.swp
.zcompdump
build
# Generated profiles
1.20.1 Quilt Baseline
1.20.1 Quilt Mainline
# Game-generated
.minecraft/assets
.minecraft/libraries
cache
crash-reports
log4j2.xml
logs
*.log
natives-*-*
saves
screenshots
servers.dat
servers.dat_old
usercache.json
# Mod loader-generated
.bobby
.fabric
data
moddata
null
# Mod-generated
**/config/.puzzle_cache
**/config/.puzzle_cache/*
**/config/jade/usernamecache.json
**/config/litematica
**/config/spark/activity.json
**/config/spark/tmp
**/config/roughlyenoughitems/hints.json
**/config/sound_physics_remastered/occlusion.properties
**/config/sound_physics_remastered/reflectivity.properties
.earlyloadingscreen-*
dashloader-cache
deaths.dat
DistantHorizons.sqlite
irisUpdateInfo.json
modernfix
ModTranslations
stackdeobf_mappings
XaeroW*