# Global
#.git
*.swp
.zcompdump
build
# Game-generated
.minecraft/assets
.minecraft/libraries
cache
crash-reports
log4j2.xml
logs
natives-*-*
saves
screenshots
# Mod loader-generated
.bobby
.fabric
data
moddata
null
# Mod-generated
**/config/.puzzle_cache
**/config/.puzzle_cache/*
**/config/spark/activity.json
**/config/spark/tmp
**/config/roughlyenoughitems/hints.json
**/config/sound_physics_remastered/occlusion.properties
**/config/sound_physics_remastered/reflectivity.properties
.earlyloadingscreen-*
dashloader-cache
irisUpdateInfo.json
modernfix
ModTranslations
stackdeobf_mappings
XaeroW*